.box {
  border-radius: $border-radius-base;
  margin-bottom: 2 * $base-space;

  &.box-default {
    padding: 1 * $base-space;
    background-color: white;

    h1,h2,h3,h4,h5,h6 {
      margin-top: 0 * $base-space;
    }
  }

  &.box-list {
    padding: 1 * $base-space;
    background-color: $background-color;
    ul {
      margin-bottom: 0px;
    }
    &+ button.k-bottom-link {
      margin-top: -2 * $base-space; //We remove default margin bottom.
      border-top-right-radius: 0px;
      border-top-left-radius: 0px;
      margin-bottom: 2 * $base-space;
    }
  }
  &.box-lg {
      padding: 2 * $base-space;
  }

  &.box-border {
    border: 1px solid $fields-border-color;
  }
}
