//buttons and links

.danger-link {
  color: $danger-color;
  &:hover {
    text-decoration: underline;
    color: $danger-color;
  }
}

.k-button {
    background-image: none; // override default kendo
    padding-left: 2 * $base-space;
    padding-right: 2 * $base-space;
    padding-top: 1 * $base-space;
    padding-bottom: 1 * $base-space;
    margin-right: 2 * $base-space;
    border-radius: 1 * $border-radius-base;
    transition: all 0.3s ease 0s;

    &.k-default {
      min-width: 120px;
      text-transform: uppercase;
      background-color: white;
      color: $brand-primary-color;
      border: 1px solid $brand-primary-color;
      &:hover:enabled,
      &:active:enabled {

        background-image: none; // override default kendo
        background-color: darken(white, 5%);
        border-color: darken( $brand-primary-color, 10% );//darken( $brand-primary, 5% );
        color: darken( $brand-primary-color, 10% );
      }
      &:disabled {
        opacity: 0.4;
      }
    }

    &.k-primary {
      min-width: 120px;
      text-transform: uppercase;
      background-image: none;
      background-color: $brand-primary-color;
      color: white;
      border: 0px;
      &:hover:enabled,
      &:active:enabled {
        background-color: darken( $brand-primary-color, 10% );
      }
      &:focus {
        box-shadow: 0 0px 8px 0 $brand-primary-color;
      }
      &:disabled {
        opacity: 0.4;
      }
    }

    &.k-link {
      color: $brand-primary-color;
      border: none;
      background: inherit;

      &:disabled {
        color: $gray-light;
        opacity: 0.4;
      }
    }

    &.k-bottom-link {
      background-image: none; // override default kendo
      width: 100%;
      background-color: rgba($brand-primary-color, 0.2);
      text-align: left;
      justify-content: inherit;
      border: none;
      color: $brand-primary-color;
      &:hover:enabled {
        background-color:  rgba(saturate( $brand-primary-color, 100%),0.3);
        text-decoration: underline;
      }
    }
}
