label {
  em {
    font-style: normal;
    &:after {
      content: ' *';
        color: theme-color("danger");
    }
  }
}
input:required,
textarea:required,
select:required {
  background-color: color("empty-required-field-background");
}

.form-group{
  label{
    font-weight : 100 !important;
    color: $label-color;
    font-size: $label-font-size;
    line-height: $label-line-height;
  }
  .form-control{
    font-weight : 100 !important;
    &.input-disabled{
      border: $input-form-element-disabled-border;
      background-color: $input-disabled-bg;
    }
    &.is-invalid{
      background-color: $form-error-background-color;
      border: 1px solid $input-border-color;
      border-bottom: $form-error-border-bottom;
    }
  }
}