
ul.list {
  &.list-horizontal {
    margin-left: 0px;
    padding-left: 0px;
    list-style-type: none;
    margin-bottom: 0px;
    li {
      float: left;
      padding-left: 8px;
      padding-right: 8px;
      &:first-child {
        padding-left: 0px;
      }
      h6,h4 {
        padding:0px;
        margin:0px;
      }
    }

    & + hr {
      border-top-color: black;
      margin-top: 0px;
      margin-bottom: 2 * $base-space
    }
  }
}
