nav {
  background-color: $unicef-blue;
  font-family: $font-family-sans-serif;
  height:56px;
  &.navbar{
    font-size: 18px;	
    line-height: 32px;
    padding-right: 0rem;
    padding: 41px 0rem 42px 1rem;
    .navbar-brand {
      color: $white;
      &.navbar-line{
        border-right: 1px solid #ffff;
        padding-right: 1rem;
      } 
    }
    .navbar-nav-scroll{
      color: $white;
      font-family: "Helvetica Neue";
      .navbar-nav{
        background-color: rgba(55, 78, 162, 0.6);
        @include border-left-radius(80px); 
        //line-height: ;
        font-size: 14px;
        line-height: 36px;
        padding : 16px 16px 14px 32px;
        .nav-link{
          color: $white;
          display: block;
        }
      }
   }
  .nav-item {
    .badge{
      background-color: white;
      color: $unicef-dark-blue;
      @include border-radius(20px);
      margin-right: 0.5rem;
    }
    .fa{
      padding-right: 0.5rem;
    }
  }
 }
}
.nav-tabs{
  padding: 0rem 2rem 0rem 2rem;
  font-size: 14px;
  margin-top: 0rem;
  font-family: Arial;
  color: #0000 !important;
  line-height: 24px;	
  text-align: center;
  border-bottom-color: $nav-tabs-border-color;
  .nav-item{
    color: #0000 !important;
    &:active{
      border: 1px solid $unicef-blue;
      background-color: lightblue;
      border-bottom: 4px solid $unicef-blue;
      
    }
    &.active{
      border:none;
      border-bottom: 4px solid $unicef-blue;;
    }
    &:hover{
      border:none;
      border-bottom: 4px solid $unicef-blue;;
    }
    a{
      color:black;
      font-family: Arial;
      font-size: 16px;
    }
    .nav-link{
      border:none;
      &:hover{
        border:none;
      } 
    }
    &.dropdown{
      font-size: 16px;
      &:hover{
        border: 1px solid $unicef-blue;
        background-color: lightblue;
        border-bottom: 4px solid $unicef-blue;
      }
      &:active{
        border: 1px solid $unicef-blue;
        background-color: lightblue;
        border-bottom: 4px solid $unicef-blue;
      }
      &.show{
        border: none;
        .nav-link{
        border: 1px solid $unicef-blue;
        background-color: lightblue;
        border-bottom: 4px solid $unicef-blue;
        }
      }
      .dropdown-menu{
        padding: 8px 0px;
        background-color: white;
        .dropdown-item{ 
          background-color: $white;
          padding: 0px 24px;
          min-width: 160px;
          line-height: 32px;
          z-index: 1;
          &:hover{
            color: $white;
            background-color: $unicef-dark-blue;
          } 
        }
      } 
    }
  }  
}
.skip
{ 
  display: block;
  margin-top: -40px;
  padding: 8px 15px;
  &:focus{
    margin-top:auto;
    margin-bottom: 5px;
    border: 1px dotted blue;
    display: inline-block;
    text-decoration: underline;
  }
  &:active{
    display: inline;
   
  }
}