
.table {
  border: $table-border;
  
  thead {
   
    th {
      border-bottom: $table-border;
    }
  }

  th {
    color: $table-head-color;
    font-size: $table-head-font-size;
    line-height: $table-head-line-height;
    border: none;
    padding: 1rem 1rem;
  }

  td {
    border: none;
    color: $black;
    line-height: $table-line-height;
    border-bottom: $table-border;
    padding: 1rem 1rem;
    vertical-align: middle;
    &:last-child{
        text-align: right;
    }
  }

  a {
    text-decoration-line: $link-in-table-decoration;
    -webkit-text-decoration-line: none;
  }
  a:hover {
    text-decoration-line: underline;
  }
}