
//
//UNICEF BRAND COLORS
//
// These are the colors that are defined in the UNICEF brand book

//
// Overrides of bootstrap variables
//

$body-bg: #F0F3F4;
//$body-bg: gray(100);


$theme-colors: (
  // overriding bootrap colors
  "primary": #1CABE2,
  //"secondary": ,
  "success": #80BD41,
  "danger": #E2231A,
  "warning": #FFC20E,
  //"info": ,
  //"dark"
  //custom colors
  "success-dark": #00833D,
  "warning-dark": #F26A21,
  "alternate": #6A3674
);

// Buttons variables
$btn-border-radius: 2px;
$btn-font-weight: 400;
$btn-link-disabled-color: orange;


//card variables
$card-spacer-y: .75rem;
$card-spacer-x: 1.25rem;
